@inherits LayoutComponentBase

<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>

@using ArticleShop.Client.Extensors
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider authenticationProvider
@inject NavigationManager navManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a @onclick="CerrarSesion" href="javascript:void(0)">Cerrar Sesion</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private async Task CerrarSesion()
    {
        var autenticacion = (Autenticacion)authenticationProvider;
        await autenticacion.ActualizarEstado(null);
        navManager.NavigateTo("/", true);
    }
}
